.lista-ordenacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 56px 0 32px 0;
    gap: 2em;
}

.lista-ordenacao__link {
    color: var(--cinza-medio);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-decoration: none;
}

.lista-ordenacao__link--ativo {
    color: var(--verde-destaque);
    font-weight: 600;
    text-decoration: underline;
}
